<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>Template</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quod earum
      blanditiis voluptatum non sed delectus nulla aliquam necessitatibus
      incidunt, nemo vero ipsam expedita et temporibus placeat quibusdam eaque
      at?
    </p>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
